@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-outfit: "Outfit", sans-serif; /* Define Outfit font */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit); /* Set Outfit as default sans-serif font */
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-brand-100: #131313;
  --color-brand-200: #1c1c1d;
  --color-brand-300: #262627;
  --color-brand-400: #2f2f30;
  --color-brand-500: #2f2f2f;
  --color-brand-600: #242425;
  --color-light-100: #ffffff;
  --color-light-200: #e8e8e8;
  --color-light-300: #8f8f8f;
  --color-secondary-100: #db2c00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #ffffff;
  }
}

/* Set Outfit as the default font globally */
body {
  background: var(--color-brand-100);
  font-family: var(--font-sans); /* Uses Outfit automatically */
  color: var(--color-light-100);
  padding: 40px 80px 40px 80px;
}
